<html>
  <head>
    <title>Rails app</title>
  </head>
  <body>
  <h1>WELCOME TO RAILS 2.3</h1>
  <p><%=link_to "Category",categories_path%></p>
  <p><%=link_to "Post",posts_path%></p>
  </body>
</html>
